.contact {
  display: flex;
  margin-right: 90px;
}
.contact__item {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.contact__item {
  margin-left: 15px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .contact {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact {
    margin-right: 0;
  }
}
