.footer {
  position: relative;
  z-index: 1;
  height: auto;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 98px;
}

.footer__title {
  color: #1f1f1f;
  padding-top: 0;
  padding-right: 8px;
}

.footer__address {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  max-width: 550px;
  margin-top: 30px;
  padding-right: 15px;
}

.footer__map {
  margin-top: 23px;
}

.footer__contacts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 29px;
  width: 57%;
}

.footer__map img {
  max-width: 100%;
}

.footer__contacts-item a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

.footer__contacts-item a:hover {
  color: #0ad9c6;
  border-bottom: 1px solid #0ad9c6;
}

.footer__contacts-item {
  position: relative;
  margin-right: 35px;
}

.footer__contacts-item:nth-child(2n) {
  margin-right: 0;
}

.footer__contacts-item--email {
  padding-left: 45px;
}

.footer__contacts-item--phone {
  padding-left: 45px;
}

.footer__contacts-item--email::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 20px;
  top: 15%;
  left: 4px;
  background: url("../img/email.svg") no-repeat;
}

.footer__contacts-item--phone::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 23px;
  top: -6%;
  left: 20px;
  background: url("../img/phone.svg") no-repeat;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    height: auto;
  }

  .footer__contacts {
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 36px;
    width: 100%;
  }

  .footer__container {
    padding-left: 0;
  }

  .footer__map {
    margin: 0;
  }

  .footer__map img {
    object-fit: cover;
    width: 320px;
    height: 250px;
  }

  .footer__contacts-item--email {
    margin-bottom: 23px;
    padding-left: 50px;
  }

  .footer__contacts-item--phone {
    padding-left: 25px;
  }

  .footer__contacts-item {
    line-height: 22px;
    margin: 0;
    margin-bottom: 15px;
  }

  .footer__title {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }

  .footer__address {
    margin-top: 20px;
    padding: 0 25px;
    width: 100%;
  }

  .footer__contacts-item--email::before {
    top: 15%;
    left: 10px;
  }

  .footer__contacts-item--phone::before {
    top: -7%;
    left: -10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__map img {
    object-fit: cover;
    width: 698px;
    height: 545px;
  }

  .footer__contacts-item {
    line-height: 22px;
  }

  .footer__title {
    font-size: 24px;
    padding-top: 0;
    margin: 0;
    margin-top: 35px;
  }

  .footer__map {
    margin-top: 5px;
  }

  .footer__contacts {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 52px;
    width: 78%;
  }

  .footer__address {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  .footer__container {
    padding-left: 0;
  }
}
