.footer {
  position: relative;
  z-index: 1;
  height: auto;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left:20px;
}

.footer__title {
  color: #1f1f1f;
  padding-top: 0;
  margin: 0;
}
.footer__address {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 31px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  max-width: 550px;
  margin-top: 30px;
}
.footer__map {
  margin-top: 23px;
  margin-left:10px;
}
.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 98px;
  margin-top:30px;
}

.footer__map img {
  max-width: 100%;
}
.footer__contacts-item a {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.footer__contacts-item a:hover {
  color: #0ad9c6;
  border-bottom: 1px solid #0ad9c6;
}

.footer__contacts-item {
  position: relative;
  margin-right: 90px;
}
.footer__contacts-item:last-child {
  margin-right: 0;
}

.footer__contacts-item--email::before {
  position: absolute;
  content: "";
  width: 26px;
  height: 20px;
  top: 25%;
  left: -40px;
  background: url("../img/email.svg") no-repeat;
}

.footer__contacts-item--phone::before {
  position: absolute;
  content: "";
  width: 21px;
  height: 23px;
  top: 20%;
  left: -40px;
  background: url("../img/phone.svg") no-repeat;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    height: auto;
  }
  .footer__contacts {
    flex-direction: column;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 36px;
    margin-left: 50px;
  }
  .footer__container {
    padding-left:0;
  }
  .footer__map {
    margin:0;
  }
  .footer__map img {
    object-fit: cover;
    width: 320px;
    height: 250px;
  }
  .footer__contacts-item {
    line-height: 22px;
    margin: 0;
    margin-bottom: 10px;
  }
  .footer__title {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  .footer__address{
    margin-top: 20px;
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .footer__map img {
    object-fit: cover;
    width: 698px;
    height: 545px;
  }
  .footer__contacts-item {
    line-height: 22px;
    margin-left:36px;

  }

  .footer__title {
    font-size: 24px;
    padding-top: 0;
    margin: 0;
    margin-top:35px;
    
  }
  .footer__map {
    margin-top: 5px;
  }
  .footer__contacts {
    align-items: center;
    margin-top: 10px;
    margin-bottom: 52px;
  }
  .footer__address{
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .footer__container {
    padding-left:0;
  }

}
