.form {
  display: flex;
  justify-content: space-between;
}
.form__description {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #ffffff;
  mix-blend-mode: normal;
  margin: 0;
  margin-top: 4px;
}

.form input {
  background: #ffffff;
  border: 1px solid #c9ccd4;
  box-sizing: border-box;
  border-radius: 4px;
  min-height: 48px;
}

.form input::-webkit-input-placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #1c1c1c;
  opacity: 0.5;
  padding-left: 25px;
}

.form button {
  background: #0ad9c6;
  border-radius: 6px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
  text-align: center;
  color: #000000;
  min-height: 51px;
  border: none;
}

.form button:hover {
  background: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .form__description {
    color: #000000;
    font-size: 18px;
    padding-top: 65px;
    margin-bottom: 22px;
  }
  .form input {
    margin-bottom: 20px;
  }

  .form {
    padding-left: 15px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .form__description {
    margin-bottom: 30px;
  }
  .form input::-webkit-input-placeholder {
    padding-left: 18px;

  }
}
