.header {
  background: url("../img/background.jpg") no-repeat;
  background-color: #000000;
  background-position: center top;
  background-size: cover;
  height: auto;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/background_2x.jpg");
  }
}

.header__container {
  max-width: 880px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
  padding-bottom: 240px;
}

.header__content-right {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.header__content-left {
  display: flex;
  flex-direction: column;
  max-width: 327px;
}

.header__content-title {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 24px;
}

.header__content-dscr {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .header {
    background: none;
    margin: 0;
    height: auto;
  }

  .header__content-right {
    background: url("../img/background_mobile.jpg") no-repeat;
    background-color: #000000;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: auto;
    z-index: 1;
    max-width: none;
    padding-left: 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/background_mobile_2x.jpg");
    }
  }

  .header__content {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding-bottom: 0;
  }

  .header__content-logo {
    padding-top: 25px;
    padding-left: 17px;
    margin-bottom: 70px;
  }

  .header__content-title {
    text-align: center;
    margin-bottom: 17px;
    font-size: 30px;
    line-height: 42px;
    margin-top: 4px;
  }

  .header__content-dscr {
    text-align: center;
    margin-bottom: 70px;
    max-width: 435px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    padding: 0 15px;
  }

  .header__container {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .header__content-title {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .header__content-dscr {
    margin-bottom: 80px;
  }

  .header__content-left {
    max-width: 337px;
    padding: 0;
  }

  .header__container {
    max-width: 1023px;
    margin: 0;
  }
}
