.header {
  background: url(../img/background.jpg) no-repeat;
  background-color: #000000;
  background-position: center top;
  background-size: cover;
  height: 800px;
}

.header__content {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
}

.header__content-right {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.header__content-left {
  display: flex;
  flex-direction: column;
  max-width: 330px;
}

.header__content-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: #ffffff;
}

.header__content-dscr {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .header {
    background: none;
    margin: 0;
    height:auto;
  }

  .header__content-right {
    background: url(../img/background_mobile.jpg) no-repeat;
    background-color: #000000;
    background-position: center top;
    background-size: cover;
    width: 100%;
    height: auto;
    z-index: 1;
    max-width: none;
  }

  .header__content {
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .header__content-logo {
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 70px;
  }

  .header__content-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .header__content-dscr{
    text-align: center;
    margin-bottom: 70px;
    max-width: 435px;
    margin-left: auto;
    margin-right:auto;
    }


   
  .header__container {
    padding: 0;
  }
}
