/* Section "types_of_bicycles"*/

.types_of_bicycles {
  background: #f6f7f9;
  height: 1000px;
}
.types_of_bicycles__title {
  padding-top: 150px;
  color: #1f1f1f;
}

@media (min-width: 320px) and (max-width: 767px) {
  .types_of_bicycles {
    height: auto;
  }

  .types_of_bicycles__title {
    padding-top: 50px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .types_of_bicycles__title {
    padding-top: 50px;
  }
  .types_of_bicycles {
    height: auto;
  }
}
