.video {
  background-color: #131314;
  height: 706px;
  position: relative;
  z-index: 1;
  margin-bottom: 250px;
}

.video__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;
}

.video__title {
  color: #ffffff;
  padding-top: 120px;
  word-wrap: break-word;
}

.video__description {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #ffffff;
  opacity: 0.7;
  margin-top: 20px;
  margin-bottom: 56px;
  max-width: 340px;
}

.video__clip {
  position: relative;
}

.video__clip img {
  max-width: 100%;
}

.video__clip-btn {
  position: absolute;
  width: 65px;
  height: 65px;
  top: 43.5%;
  left: 46.7%;
  z-index: 2;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #0ad9c6;
  cursor: pointer;
}

.video__clip-btn:hover,
.video__clip-btn:focus,
.video__clip-btn:active {
  background: #e0ffff;
  border: none;
  outline: none;
}

.video__clip-btn::before {
  position: absolute;
  content: "";
  top: 35%;
  left: 43%;
  width: 0;
  height: 0;
  border-width: 10px 0 10px 13px;
  border-style: solid;
  border-right: 0;
  border-color: transparent transparent transparent black;
}

@media (min-width: 320px) and (max-width: 767px) {
  .video {
    height: 384px;
    margin-bottom: 118px;
  }

  .video__clip img {
    width: 288px;
    height: 161.66px;
  }

  .video__title {
    padding-top: 84px;
    font-size: 24px;
    margin: 0;
  }

  .video__description {
    margin-bottom: 50px;
    padding-left: 10px;
  }

  .video__clip-btn::before {
    top: 35%;
    left: 40%;
  }

  .video__clip-btn {
    top: 30%;
    left: 39%;
  }

  .video__container {
    padding: 0 5px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .video {
    height: 413px;
    margin-bottom: 118px;
  }

  .video__container {
    padding: 0 5px;
  }

  .video__clip img {
    width: 503px;
    height: 282px;
  }

  .video__clip-btn {
    width: 90.36px;
    height: 90.36px;
    top: 34%;
    left: 41%;
  }

  .video__clip-btn::before {
    font-size: 30px;
    top: 38%;
    left: 45%;
  }

  .video__title {
    padding-top: 68px;
    margin: 0;
    font-size: 24px;
  }

  .video__description {
    margin-bottom: 40px;
    max-width: 430px;
  }
}
