*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  margin: 0;
}

main {
  margin-bottom: 250px;
}

@media (min-width: 320px) and (max-width: 1023px) {
  main {
    margin-bottom: 120px;
  }
}
