*,
*:after,
*:before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.title {
  font-family: "Open Sans", "Tahoma", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  text-align: center;
  margin: 0;
}


.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

